@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500&family=Darumadrop+One&family=Kanit:ital,wght@0,100;0,200;0,300;1,200;1,300&family=Lumanosimo&family=Montserrat:ital,wght@0,100;0,400;1,100;1,200;1,300&family=Nunito+Sans:ital,wght@0,300;0,400;0,500;0,600;1,200;1,400;1,500&family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;1,100;1,200&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300&family=Roboto+Mono:ital,wght@0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Tajawal:wght@300;400&family=Ubuntu:ital,wght@0,400;1,300;1,400&display=swap");

:root {
  font-family: "Kanit", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  background: rgba(22, 13, 30, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.app_container {
  height: 80vh;
  width: 70%;
  margin: auto;
  padding: 2em 0;
}
.header {
  min-height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.header img {
  width: 100px;
}
.cards {
  display: flex;
  justify-content: space-around;
}
.card-item {
  background-color: #1c0144;
  padding: 1em 2em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin: 0 10px;
  box-shadow: 1px 1px 10px rgba(22, 13, 30, 0.9);
  transition: 0.3s all ease;
}
.card-item:hover {
  box-shadow: 1px 1px 10px rgba(103, 4, 4, 0.9);
}
.card-item img {
  width: 70px;
}
.card-item h4 {
  margin: 10px 0;
}
.card-item p {
  text-align: center;
}
